.sessionStyles{
    .fullHeight{
        min-height: 100vh;

        .blueBox{
            background: #A3DBED;
            padding: 10px;
            border-radius: 5px;
        }
    }

    .error .form-text{
        color: #D75238;
        font-weight: bold;
        font-size: 12px;
    }
}

